.playbox{
  display: flex;
  gap: 10%;
  align-items: start;
  justify-content: center;
  margin-top: 100px;
  height: 90vh;
}

.button-column{
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.rhythm-grid{
  display: flex;
  flex-direction: column;
}