.header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10rem;
    margin: 3rem;
}

.thumbnail{
    width: 15rem;
    height: 15rem;
}

.titles{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
}

.add-button{
    position: absolute;
    right: 10rem;
    top: 10rem;
}

.add-button:hover{
    background-color: #eeeeee;
    border-color: #dddddd;
    scale: 105%;
}

.list-headers{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #bbbbbb;
    width: 90%;
    margin-bottom: 2rem;
}

.list-headers div:nth-child(1){
    position: absolute;
    left: 9%;
}

.list-headers div:nth-child(2){
    position: absolute;
    left: 40%;
}

.list-headers div:nth-child(3){
    position: absolute;
    left: 68%;
}

.list-headers div:nth-child(4){
    position: absolute;
    left: 85%;
}


.lists{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: white;
}

.list-entry{
    display: flex;
    align-items: center;
    width: 90%;
    height: 4.5rem;
    margin-left: 6%;
    border-radius: 5px;
    color: white;
    font-weight: 300;
}

.list-entry div:nth-child(1){
    position: absolute;
    left: 9%;
}

.list-entry div:nth-child(2){
    position: absolute;
    left: 40%;
}

.list-entry div:nth-child(3){
    position: absolute;
    left: 68%;
}

.list-entry div:nth-child(4){
    position: absolute;
    left: 85%;
}

.list-entry div:nth-child(5){
    position: absolute;
    right: 7%;
}

.list-entry:hover{
    cursor: pointer;
    background-color: #505c67;
}

.delete{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover{
    background-color: rgba(255,255,255,0.3);
}

.list-entry:nth-child(even){
    background-color: #45525c;
}

.list-entry:nth-child(even):hover{
    background-color: #505c67;
}
